<br />
<b>Notice</b>:  Undefined variable:  HTTP_RAW_POST_DATA in <b>/home/httpd/html/fasttrack/chapter_14/soap/server.php</b> on line <b>18</b><br />
<br />
<b>Notice</b>:  Undefined index:  content-type in <b>/usr/local/lib/php/SOAP/Server.php</b> on line <b>161</b><br />
<?xml version="1.0" encoding="UTF-8"?>

<SOAP-ENV:Envelope  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
<SOAP-ENV:Body>

<SOAP-ENV:Fault>
<faultcode xsi:type="xsd:QName">SOAP-ENV:Server</faultcode>
<faultstring xsi:type="xsd:string">Invalid SOAP request, must be POST with content-type: text/xml, got: </faultstring>
<faultactor xsi:type="xsd:anyURI"></faultactor>
<detail xsi:type="xsd:string"></detail></SOAP-ENV:Fault>
</SOAP-ENV:Body>
</SOAP-ENV:Envelope>
